@import "./variables";

.wrapper {
  padding: 2px 5px;
  background-color: #111824;
  position: absolute;
  font-size: 12px;
  display: flex;
  border-radius: 5px;
  border: 1px solid $textcolor;
  align-items: center;
  @media screen and (min-width: 600px) {
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
  }
  @media screen and (max-width: 599px) {
    bottom: calc(100% + 7px);
    right: 96.8px;
    transform: translateX(50%);
  }

  &_success {
    color: $successcolor;
    border-color: $successcolor;
    padding: 5px 5px;
  }
  &_reject {
    color: $rejectcolor;
    border-color: $rejectcolor;
  }
  &_pending {
    padding: 5px 5px;
  }
}
.text {
  width: auto;
}

@mixin marker-loader {
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}

@mixin marker {
  @include marker-loader;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 80%;
    height: 80%;
  }
}

.marker {
  &_info {
    @include marker;
    border-color: $textcolor;
    svg {
      stroke: $textcolor;
      fill: $textcolor;
    }
  }
  &_checkmark {
    @include marker;
    border-color: $successcolor;
    svg {
      stroke: $successcolor;
      fill: $successcolor;
    }
  }
  &_reject {
    @include marker;
    border-color: $rejectcolor;
    svg {
      stroke: $rejectcolor;
      fill: $rejectcolor;
      width: 70%;
      height: 70%;
    }
  }
  &_loader_wrapper {
    @include marker-loader;
    border-color: $textcolor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_loader {
    width: 100%;
    height: 100%;
  }
}
