@import "./variables.scss";

.label {
  font-size: 16px;
  margin-top: 5px;
  align-self: flex-end;
  &:first-of-type {
    margin-top: 0px;
  }
}

.input {
  border: none;
  background-color: $formfieldcolor;
  color: $textcolor;
  margin-left: 14px;
  transition: outline 0.1s;
  border-radius: 5px;
  outline: solid $bordercolor 0;
  &:focus {
    outline: solid $bordercolor 3px;
  }
  &::placeholder {
    color: rgba($textcolor, 0.7);
  }
  &:focus:invalid {
    color: $secondarycolor;
    outline: solid $secondarycolor 3px;
  }
}

.success {
  color: $successcolor;
  &:focus {
    outline: solid $successcolor 3px;
  }
}
