@import "./variables.scss";

.message {
  color: $secondarycolor;
  &_enter {
    transform: scaleY(0);
    opacity: 0;
    margin-bottom: 0px;
  }
  &_enter_active {
    transform: scaleY(1);
    opacity: 1;
    margin-bottom: 10px;
    transition: transform 0.2s, opacity 0.2s, margin-bottom 0.2s;
  }
  &_exit {
    transform: scaleY(1);
    opacity: 1;
    margin-bottom: 10px;
  }
  &_exit_active {
    transform: scaleY(0);
    opacity: 0;
    margin-bottom: 0px;
    transition: transform 0.2s, opacity 0.2s, margin-bottom 0.2s;
  }
}
