$maincolor: #202030;
$secondarycolor: #ba2b0d;
$errorcolor: #eb1342;
$buttoncolor: #006daa;
$chatcolor: #7e998a;
$textcolor: #ffffff;
$bordercolor: rgba(255, 255, 255, 0.5);
$formfieldcolor: rgba(0, 0, 0, 0.5);
$markercolor: #f86646;
$successcolor: #11ba3e;
$linkcolor: #1c82ad;
$linkhoveredcolor: #26b3f0;
$rejectcolor: $errorcolor;

// chat name colors
$chatnamecolor1: #f23ff0;
$chatnamecolor2: #fc9642;
$chatnamecolor3: #e3e647;
$chatnamecolor4: #42fcb9;
