$maincolor: #202030;
$secondarycolor: #ba2b0d;
$buttoncolor: #006daa;
$chatcolor: #7e998a;
$textcolor: #ffffff;
$bordercolor: rgba(255, 255, 255, 0.5);
$formfieldcolor: rgba(0, 0, 0, 0.5);
$markercolor: #f86646;
$successcolor: #11ba3e;
$rejectcolor: $secondarycolor;
